/* src/App.css */
.App {
  background-color: #fffbf3;
  color: #4b2e83;
  font-family: 'Lora', serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  max-width: 80%;
  text-align: justify;
}

button {
  background-color: #7e4a9e;
  border: none;
  color: #f5f5f5;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.story-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  max-width: 80%;
  text-align: justify;
  margin-bottom: 1.5rem;
}
